body {
    padding-left: 25px ;
    font-family: HandTypist ;
    font-size: 25px ;
    line-height: 24px ;
    background-color: darkorange ;
    color: white ;
}

h1 {
    font-size: 72px ;
    font-family: bakery ;
    color: orangered ;
    padding-top: 50px ;
    background-color: palegoldenrod;
}

h2 {
    background-color: black ;
    color: white ;
}

p {
    font-weight: lighter ;
}

a:link {
    text-decoration: none ;
    font-family: courier ;
    font-size: 18px ;
    color: gold ;
}

a:hover {
    color: forestgreen ;
}

a:visited {
    color: darkred ;
}

table {
    width: 50% ;
}

th {
    height: 50px ;
    text-align: left ;
    font-size: 20px ;
    background-color: orange ;
}

th, td {
    padding: 16px ;
    color: black ;
}

tr:nth-child(even) {
    background-color: ghostwhite ;
}

fieldset {
    width: 350px ;
    border: 1px solid ;
    border-color: lightgrey ;
    padding: 20px ;
}

ul {
    list-style: square ;
}

img {
    max-width: 80% ;
    height: auto ;
}